body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	color: #c44793;
}

.header{
	margin-bottom: 10px;
}

.header .logo{
	height: 50px;
}

.header ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
}

.header .searchform{
	margin-left: 80px;
	margin-right: 60px;
	display: inline-block;
}

.header .searechform .searchOpt{
	display:none;
	opacity: 0;
}

.header .searchform input{
	border: solid;
	border-color: #aaaaaa;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 2px;
	-moz-transition: border-color 0.2s;
}

.header .searchform input:hover{
	border-color: #00aaaa;
}

.header .searchform button{
	background-color: transparent;
	border:none;
	box-shadow: 0;
}

.header .searchform button:hover{
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}
.header .searchform button img{
	width: 20px;
	height: 20px;
}

.user ul{
	margin: 10px;
}
.user img{
	width: 30px;
	height: 30px;
}

.user button{
	background-color: transparent;
	border: 0;
}


.list {
	min-height: 800px;
	display: inline-block;
	position: relative;
}

.list_item{
	width: 600px;
	margin-bottom: 10px;
}

.li_snap{
	width: 100px;
	vertical-align: top;
	margin-right: 10px;
	display: inline;
}

.li_snap img{
	width: 100px;
	height: 100px;
}

.li_text{
	width: 350px;
	vertical-align: top;
	display: inline-block;
}

.li_title{
	font-size: 16px;
	white-space: nowrap;
	word-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.5em;
}

.li_abstract{
	font-size: 12px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #555555;
	width: 350px;
	height: 2.8em;
}

.li_key {
	font-size: 12px;
	color: #aaaaaa;
	margin-top: 5px;
}

.li_key a{
	color: #aaaaaa;
}

.li_key a:hover{
	color: #aacc00;
}

.li_who {
	font-size: 12px;
	color: #aaaaaa;
}

.li_who a{
	color: #aaaaaa;
}

.li_who a:hover{
	color: #aacc00;
}

.list_more{
	width: 500px;
	text-align: center;
	margin: 20px auto;
}

.list_more img{
	width: 40px;
	height: 40px;
}

.navi{
	display: inline-block;
	margin-left: -10px;
	margin-right: 40px;
	font-size: 10px;
	float:left;
	width: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	margin-top: 10px;
}

.footer{
	display: block;
	margin: 10px;
	height: 20px;
	background-color: #aaaaa
}

.footer p{
	text-align: center;
	font-size: 12px;
}